#logo 
{
    width: 7em;
    height: 3em;
 };
.nav-item
{
    color: #830b14;
};
.smallImg
{
    width: 3%;
    height: 3%;
};
#hero
{
    background-color: #830b14;
};
    
#saying1
{
    margin-top: -5em;
}